div {
  background: #80d4ff;
  background: radial-gradient(circle, rgba(128, 212, 255, 1) 0%, rgba(76, 146, 173, 1) 100%);
  border-style: ridge;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
}

header {
  text-align: center;
  background: #2ade30;
  background: radial-gradient(circle, rgba(42, 222, 48, 1) 0%, rgba(33, 150, 37, 1) 100%);
  border-style: ridge;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
