div {
  background: skyblue;
  border-style: ridge;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

header {
  text-align: center;
  background: green;
  border-style: dotted;
